<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">Register</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Create Ticket</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Resolving Ticket</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Delete Ticket</a>
    </li>
  
  </ul>
